.mailto:hover
{
   color: #fff;
   padding: .75rem;
   border-radius: 50px;
   box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
   transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}